@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <article>
        <h1 class="display-4">Mi Mascota: Roca</h1>
        <img src="/img/mascota.jpg" alt="Shar Pei" height="300px" width="300px" 
            class="img-fluid">
        <p>Mi mascota, un encantador Shar Pei. Con sus características arrugas y su lengua azulada, es imposible no
            enamorarse de su apariencia única.</p>

        <h2>Un Poco de Historia</h2>
        <p>El Shar Pei es una antigua raza china con una historia rica y fascinante. Se cree que sus orígenes se
            remontan a miles de años atrás, y que eran valorados por la nobleza china como perros guardianes y de
            compañía.</p>

        <h2>Características y Personalidad</h2>
        <p>Los Shar Pei son perros de tamaño mediano, robustos y musculosos. Su característica más distintiva son sus
            abundantes arrugas, que cubren su cuerpo y rostro. A pesar de su apariencia fuerte, son perros sensibles y
            leales a su familia. Aunque pueden ser reservados con los extraños, una vez que te ganan su confianza, son
            compañeros fieles y protectores.</p>

        <h2>Cuidados Específicos</h2>
        <p>Para mantener a tu Shar Pei feliz y saludable, es importante prestar atención a los siguientes aspectos:</p>
        <ul>
            <li><strong>Higiene de las arrugas:</strong> Limpia regularmente los pliegues de su piel para prevenir
                infecciones.</li>
            <li><strong>Alimentación balanceada:** Proporciónale una dieta de alta calidad y adecuada a sus necesidades.
            </li>
            <li><strong>Ejercicio moderado:** Los Shar Pei necesitan ejercicio diario, pero evita actividades
                    extenuantes, especialmente en climas cálidos.</li>
            <li><strong>Visitas al veterinario:**</strong> Realiza chequeos regulares para detectar cualquier problema
                de salud a tiempo.</li>
        </ul>

        <h2>Entrenamiento y Socialización</h2>
        <p>Los Shar Pei pueden ser un poco tercos, por lo que la socialización temprana y un entrenamiento positivo son
            fundamentales. La paciencia y la consistencia son claves para lograr un perro bien educado.</p>

        <h2>Problemas de Salud Comunes</h2>
        <p>Aunque son perros generalmente sanos, los Shar Pei pueden ser propensos a ciertas enfermedades, como la
            fiebre familiar del Shar Pei y problemas oculares. Es importante estar informado sobre estos posibles
            problemas y llevar a tu mascota a chequeos regulares.</p>

    </article>
</div>